[submodule "NeatDM"]
	path = NeatDM
	url = https://github.com/gendloop/NeatDM
	branch = main
[submodule "fastgithub"]
	path = fastgithub
	url = https://github.com/gendloop/fastgithub
	branch = main
[submodule "Typora"]
	path = Typora
	url = https://github.com/gendloop/Typora
	branch = main
[submodule "geek"]
	path = geek
	url = https://github.com/gendloop/geek
	branch = main
[submodule "IObitUnlocker"]
	path = IObitUnlocker
	url = https://github.com/gendloop/IObitUnlocker
	branch = main
