[submodule "NeatDM"]
	path = NeatDM
	url = https://github.com/gendloop/NeatDM
	branch = main
[submodule "fastgithub"]
	path = fastgithub
	url = https://github.com/gendloop/fastgithub
	branch = main
[submodule "Typora"]
	path = Typora
	url = https://github.com/gendloop/Typora
	branch = main
[submodule "geek"]
	path = geek
	url = https://github.com/gendloop/geek
	branch = main
[submodule "IObitUnlocker"]
	path = IObitUnlocker
	url = https://github.com/gendloop/IObitUnlocker
	branch = main
[submodule "KMS"]
	path = KMS
	url = https://github.com/gendloop/KMS
	branch = main
[submodule "YuQue"]
	path = YuQue
	url = https://github.com/gendloop/YuQue
	branch = main
[submodule "steamcommunity"]
	path = steamcommunity
	url = https://github.com/gendloop/steamcommunity
	branch = main
[submodule "sogouwubi"]
	path = sogouwubi
	url = https://github.com/gendloop/sogouwubi
	branch = main
[submodule "chatbox"]
	path = chatbox
	url = https://github.com/gendloop/chatbox
	branch = main
