[submodule "NeatDM"]
	path = NeatDM
	url = https://github.com/gendloop/NeatDM
	branch = main
[submodule "fastgithub"]
	path = fastgithub
	url = https://github.com/gendloop/fastgithub
	branch = main
[submodule "Typora"]
	path = Typora
	url = https://github.com/gendloop/Typora
	branch = main
[submodule "geek"]
	path = geek
	url = https://github.com/gendloop/geek
	branch = main
[submodule "IObitUnlocker"]
	path = IObitUnlocker
	url = https://github.com/gendloop/IObitUnlocker
	branch = main
[submodule "KMS"]
	path = KMS
	url = https://github.com/gendloop/KMS
	branch = main
[submodule "YuQue"]
	path = YuQue
	url = https://github.com/gendloop/YuQue
	branch = main
[submodule "steamcommunity"]
	path = steamcommunity
	url = https://github.com/gendloop/steamcommunity
	branch = main
[submodule "sogouwubi"]
	path = sogouwubi
	url = https://github.com/gendloop/sogouwubi
	branch = main
[submodule "chatbox"]
	path = chatbox
	url = https://github.com/gendloop/chatbox
	branch = main
[submodule "ALiCloudDisk"]
	path = ALiCloudDisk
	url = https://github.com/gendloop/ALiCloudDisk
	branch = main
[submodule "EdgeGo"]
	path = EdgeGo
	url = https://github.com/gendloop/EdgeGo
	branch = main
[submodule "VS_2017_Community"]
	path = VS_2017_Community
	url = https://github.com/gendloop/VS_2017_Community
	branch = main
[submodule "BeyondCompare"]
	path = BeyondCompare
	url = https://github.com/gendloop/BeyondCompare
	branch = main
[submodule "Listary"]
	path = Listary
	url = https://github.com/gendloop/Listary
	branch = main
[submodule "synergy"]
	path = synergy
	url = https://github.com/gendloop/synergy
	branch = main
[submodule "PotPlayer"]
	path = PotPlayer
	url = https://github.com/gendloop/PotPlayer
	branch = main
[submodule "Quicker"]
	path = Quicker
	url = https://github.com/gendloop/Quicker
	branch = main
[submodule "TencentMeeting"]
	path = TencentMeeting
	url = https://github.com/gendloop/TencentMeeting
	branch = main
[submodule "AnLink"]
	path = AnLink
	url = https://github.com/gendloop/AnLink
	branch = main
[submodule "CCProxy"]
	path = CCProxy
	url = https://github.com/gendloop/CCProxy
	branch = main
[submodule "v2rayN"]
	path = v2rayN
	url = https://github.com/gendloop/v2rayN
	branch = main
[submodule "Xshell"]
	path = Xshell
	url = https://github.com/gendloop/Xshell
	branch = main
[submodule "glink"]
	path = glink
	url = https://github.com/gendloop/glink
	branch = main
[submodule "Umi-OCR"]
	path = Umi-OCR
	url = https://github.com/gendloop/Umi-OCR
	branch = main
[submodule "sublime_text"]
	path = sublime_text
	url = https://github.com/gendloop/sublime_text
	branch = main
[submodule "DingTalk"]
	path = DingTalk
	url = https://github.com/gendloop/DingTalk
	branch = main
