name: Add_Submodule

permissions:
  contents: write
  actions: write

on:
  workflow_dispatch:
    inputs:
      label:
        description: 'Repository Label'
        required: true
        default: ''
        type: string
      repo_name:
        description: 'Repository Name'
        required: true
        default: ''
        type: string
      branch:
        description: 'Default Branch'
        required: true
        default: 'main'
        type: string

jobs:
  add_submodule:
    runs-on: windows-latest
    steps:
      - name: add-submodule
        uses: gendloop/add-submodule@main
        with:
          label: ${{ inputs.label }}
          repo_name: ${{ inputs.repo_name }}
          branch: ${{ inputs.branch }}
